.container{
    background-color: #F4E8C1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 1%;
}

nav{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.about{
    margin: 4%;
}

.resources{
    margin: 4%;
}

.add-start-up{
    margin: 4%;
    
}
.plus{
   font-size: 2rem;
}

.logo{
 height: 110%;
 padding-bottom: 1%;
}