<div class="card" (click)="open()">
  <div class="card-header">
    <img [src]="startup?.images?.[0] || ('https://via.placeholder.com/728x90.png?text=' + (startup.startupName || 'logo'))" alt="rover" />
  </div>
  <div class="card-body">

    <div class="tags">
      <span class="tag tag-teal" *ngFor="let sector of startup.sectors">{{sector}}</span>
    </div>
    
    <h4>
      {{startup.startupName}}
    </h4>
    <i>{{startup.numberOfEmployees}}</i>
    <p>
      {{startup.description}}
    </p>
    <div class="user">
      <img *ngIf="startup.logoImg" [src]="startup.logoImg"
        alt="logo" />
      <div class="user-info">
        <h5>{{startup.city}}</h5>
      </div>
    </div>
  </div>
</div>