<div class="card" (click)="open()">
  <div class="card-header">
    <img
      [src]="startup?.images?.[0] || ('https://via.placeholder.com/728x90.png?text=' + (startup.startupName || 'logo'))"
      alt="rover" />
  </div>
  <div style="height: 10px;margin-top: -4px;" [ngStyle]="{'background-color': startup.designColor}"></div>
  <div class="card-body">
    <div class="tags">
      <span class="tag" [ngStyle]="{'background-color': sectors?.[sector]?.designColor}" *ngFor="let sector of startup.sectors">
        <span>{{sectors?.[sector]?.sectorName}}</span>
      </span>
    </div>
    <div class="user mt-4">
      <img *ngIf="startup.logoImg" [src]="startup.logoImg" alt="logo" />
      <div class="user-info">
        <h3 class="m-0">{{startup.startupName}}</h3>
      </div>
    </div>

    <i>{{startup.numberOfEmployees}} Employees</i>

  </div>
</div>