<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a routerLink="/home/">
          <img src="../../../assets/StartICT-UP.png" alt="logo">
          <h1>Admin Dashboard</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/home/companies">Companies</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/home/sectors">Sectors</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Requests" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/home/requests/pending" >Pending</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/home/requests/approved"  >Approved</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/home/requests/rejected" >Rejected</a>
            </li>
          </ul>
        </li>
        <li nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        nzSelected >   <span nz-icon nzType="logout"></span>
        <span>Logout</span><a (click)="Signout()" ></a></li>
        
      </ul>
      
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>

        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  