<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon [nzTitle]="title">
  <nz-page-header-extra *ngIf="!isAdd">
    <nz-space>
      <button *nzSpaceItem nz-button nzType="default" (click)="enableEdit()">{{editBtnlabel}}</button>
      <button *nzSpaceItem nz-button nzType="default" nzDanger (click)="delete()">Delete</button>
    </nz-space>
  </nz-page-header-extra>
</nz-page-header>

<app-startup-submit-form *ngIf="isAdd || profile" [isAdd]="isAdd" [isEditEnabled]="isEditEnabled" [startup]="profile"></app-startup-submit-form>
