<div class="wrapper">
    <div class="page-header page-header">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">StartICT-UP where awareness about ICT Startups takes place </h1>
                <h1 class="title">This is where Innovation Begins.</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <app-startups-list></app-startups-list>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <h5 class="description">StartICT-UP is an online platform where user can lookup and find active startups in the field of Information and Computer technologies(ICT) in Jordan.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/1.webp')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Despite the challenges faced by all economic sectors in Jordan this year, eighty companies have participated in the 2020 edition of which twenty-nine are profiled in the “ICT Startups” section"
                                <br>
                                <br>
                                <small>-jordanict.com</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/1.jpeg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/1.jpg')"></div>
                        <h3>ICT Industry Overview </h3>
                        <p>Ranking as one of the largest industries in the world, the ICT market is forecasted to reach a size of 5.5 trillion dollars in 2022, and almost six trillion by 2023. The continuous growth serves as another reminder of the ever-increasing prevalence and importance of technology in today’s society. In general, growth in traditional tech spending over the next few years will be driven foremost by big data and analytics, social, mobile, and cloud computing.
                        </p>
                        <p>
                            The ICT market is typically defined to encompass technologies related to both computer and telephone networks, along with the relevant software, hardware and services. As of 2020, the telecommunications category ranks as the highest revenue generating segment of the ICT market, while “new technologies”, which includes AR/VR and robotics, ranks as the fastest growing category. Notably, next-generation security technologies that provide integrated security solutions will also be an area of investment in the future.
                        </p>
                        <p>StartICT-UP is the digital home of Who’s Who. It is a portal that offers information on hundreds of ICT companies in Jordan and provides users with the functionality to search these companies by services offered, brands represented, key persons, clients served and more. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="">
                            Our Website
                        </a>
                    </li>
            
                    <li>
                        <a href="mailto: akofahi@you.com">
                            akofahi@you.com
                        </a>
                    </li>

                    <li>
                        <a href="">
                            0790000000
                        </a>
                    </li>
                    
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed by
                <a href="" target="_blank">StartICT-UP team</a>. Coded by
                <a href="" target="_blank">Ahmad Alkofahi</a>.
            </div>
        </div>
    </footer>
   
</div>
