<div class="wrapper" *ngIf="startup">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            [ngStyle]="{'background-image':'url('+startup?.images?.[0]+')'}">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img style="height: 100%;width: 100%;object-fit: cover;"
                        [src]="startup?.logoImg || ('https://via.placeholder.com/728x90.png?text=' + (startup.startupName || 'logo'))"
                        alt="logo">
                </div>
                <h3 class="title">{{startup.startupName}}</h3>
                <p class="category">{{startup.founderName}}</p>
                <div class="content">
                    <div class="social-description">
                        <h2>{{startup.numberOfEmployees}}</h2>
                        <p>Employees</p>
                    </div>
                    <div class="social-description">
                        <h2>{{startup.city}}</h2>
                        <p>City</p>
                    </div>
                    <div class="social-description">
                        <h2>{{startup.yearOfEstablishment}}</h2>
                        <p>Since</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <div class="btn btn-primary btn-round btn-lg" style="cursor: default;" [ngStyle]="{'background-color': startup.designColor}">
                    Description</div>
            </div>
            <h5 class="description">{{startup.description}}</h5>

            <div class="row">

                <div class="col d-flex align-items-center justify-content-center">
                    Website:
                    <a *ngIf="startup.websiteURL" href="{{startup.websiteURL}}" target="_blank">
                        <h4 class="my-0 mx-3">{{startup.websiteURL}}</h4>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                    EMAIL:
                    <a *ngIf="startup.email" [href]="'mailto:'+startup.email">
                        <h4 class="my-0 mx-3">{{startup.email}}</h4>
                    </a>
                </div>
            </div>



        </div>
    </div>
</div>