<form nz-form [nzLayout]="'vertical'" [formGroup]="startupForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="companyName">Company Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="companyName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="ceo">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="ceo" />
    </nz-form-control>
  </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button *ngIf="isAdd || isEditEnabled" nz-button   nzType="primary" >{{btnLabel}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>