<form nz-form  [formGroup]="startupForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="startupName">Company Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input  nz-input formControlName="startupName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>

  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="images">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="images" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="designColor">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input type='color'nz-input formControlName="designColor" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="city">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="city" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="founderName">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="founderName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="numberOfEmployees">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="numberOfEmployees" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="yearOfEstablishment">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="yearOfEstablishment" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="websiteURL">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="websiteURL" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="email">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label  nzRequired nzFor="sectors">CEO Name</nz-form-label>
    <nz-form-control  nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="sectors" />
    </nz-form-control>
  </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button *ngIf="isAdd || isEditEnabled" nz-button   nzType="primary" >{{btnLabel}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>